/* table */
td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

/* margin for the search bar */
.input-group {
    margin: 20px 0px;
}

/* for the height of the sparklines */
svg {
    height: 160px;
}

/* for google map */
td:first-of-type, td:first-of-type > div {
    height: 200px;
    width: 250px;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}